{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ recipe.name }}
{% endblock title %}

{% block style %}
<style></style>
{% endblock style %}

{% block heading %}
    {{ recipe.name }}
{% endblock heading%}

{% block content %}
    <h2>by {{ recipe.author }}</h2>
    {% for image in recipe.recipe_image.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
    <a href="/recipes/list">Back to Recipe List <-</a>
{% endblock content %}